@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
img {
    max-width: 100%;
}
hr {
    color: #55C6D0;
}
.btn {
    font-weight: 400;
    padding: 8px 20px;
    color: #fff;
}
.btn:hover {
    color: #fff;
}
.btnPink {
    background: #EC008C;
    border: 1px solid rgb(255 164 218 / 60%);
}
.btnBlue {
    background: #0C94B0;
    border: 1px solid rgb(157 247 255 / 36%);
}
.boxShadowBlue {
    box-shadow: 0px 4px 13px #55C6D0;
}
.boxShadowPink {
    box-shadow: 0px 4px 13px rgba(236, 0, 140, 0.7);
}
.roundPink {
    background: #c40075db;
    border-radius: 50%;
    padding: 14px;
    display: inline-block;
    border: 1px solid #FC5CD9;
    box-shadow: 0px 4px 13px #EC008C;
}
.rounded-10 {
    border-radius: 10px;
}
section {
    padding: 50px 0;
}
section .sectionHeading,
.text-gradient {
    display: inline-block;
    background: linear-gradient(to right, #B82393, #05B2D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .sectionHeading {
    font-size: 32px;
    margin-bottom: 25px;
}
section.banner h1 {
    font-size: 48px;
    line-height: 1;
}
.partnersElement {
    background-image: linear-gradient(to right, #cfebed, #fff);
}
.partnersElement .item {
    width: 20%;
    padding: 25px 0;
}
.partnersElement .item a {
    filter: grayscale(1);
}
.partnersElement .item a:hover {
    filter: grayscale(0);
}
.teamElement .social a {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 15px 10px 0;
    color: #aaa;
}
.teamElement .social a:hover {
    color: #1d9bf0;
}
.bgGalaxy {
    background: url(../img/bg-galaxy.jpg) no-repeat center center / cover;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*========================== HEADER ==========================*/
header {
    background: #172932;
    position: relative;
    z-index: 1;
}
header .top {
    padding: 15px 0;
}
header .top ul li:not(:last-child) {
    margin-right: 30px;
}
header .top a {
    color: #5D696F;
    display: block;
    font-size: 25px;
    line-height: 1;
}
header .top .faq-text a {
    font-size: 15px;
    font-weight: 700;
}
header .navbar {
    padding: 10px 0;
    border-top: 1px solid #28555F;
}
header .navbar .nav-item {
    margin: 0 30px;
}
header .navbar .nav-link {
    color: #fff;
    font-weight: 400;
}
/*========================== HOMEPAGE ==========================*/
#homepage .banner {
    color: #fff;
    padding: 100px 0;
    background: #085563 url(../img/hyperasChain.png) no-repeat center bottom / cover;
}
#homepage .banner .subHeading {
    font-size: 38px;
    font-weight: 300;
}
#homepage .bgGrid {
    background: #1b2a32 url(../img/grilles.jpg) no-repeat center center / cover;
}
#homepage .readmore {
    color: #db0082;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #db0082, #00D3FF);
    padding: 10px 40px;
    font-size: 20px;
}
#homepage .environment ul li {
    padding: 0 40px;
    font-weight: 400;
}
#homepage .environment .item {
    background: linear-gradient(242.01deg, #FFFFFF 20.82%, rgba(255, 255, 255, 0.79) 65.38%);
    box-shadow: 17px 0px 28px rgb(85 198 208 / 15%);
    border-radius: 5px;
    text-align: center;
    color: #58595B;
    padding: 30px 10px 20px;
    height: 100%;
}
#homepage .environment .text {
    height: 45px;
}
/*========================== OVERVIEW PAGE ==========================*/
#overviewPage .banner {
    background: #172A33 url(../img/banner-overview.jpg) no-repeat center bottom / cover;
    text-align: center;
    padding: 200px 0 240px;
    color: #fff;
}
#overviewPage .ecosystem {
    margin-top: -100px;
    padding: 50px 0 250px;
}
#overviewPage .ecosystem .sectionHeading {
    margin-bottom: 100px;
}
#overviewPage .ecosystem .item {
    position: relative;    
    text-align: justify;
    height: 100%;
}
#overviewPage .ecosystem .item.item-1,
#overviewPage .ecosystem .item.item-3 {
    padding: 40px 200px 40px 80px;
}
#overviewPage .ecosystem .item.item-2,
#overviewPage .ecosystem .item.item-4 {
    padding: 40px 80px 40px 200px;
}
#overviewPage .ecosystem .item:before {
    content: "";
    position: absolute;    
    width: calc(100% - 40px);
    height: 100%;
    background: url(../img/bg-item-overview.png) no-repeat left top / contain;
    z-index: -1;
}
#overviewPage .ecosystem .item.item-1:before {
    left: 0;
    top: 0;
}
#overviewPage .ecosystem .item.item-2:before {    
    right: 0;
    top: 0;
    transform: scaleX(-1);
}
#overviewPage .ecosystem .item.item-3:before {
    left: 0;
    bottom: 0;
    transform: scaleY(-1);
}
#overviewPage .ecosystem .item.item-4:before {    
    right: 0;
    bottom: 0;
    transform: scale(-1,-1);
}
#overviewPage .ecosystem .item.item-1 .icon,
#overviewPage .ecosystem .item.item-3 .icon {
    text-align: right;
}
#overviewPage .ecosystem .iconCenter {
    margin: -80px auto;
    width: 200px;
    display: block;
}
#overviewPage .boxIframe {
    margin-top: -160px;
    padding: 10px;
    background-image: linear-gradient(to right, #ff0097, #d567e5, #879aff, #0bbcff, #00d3ff);
}
#overviewPage .roadmap .contentRoadmap {
    margin-top: 200px;
}
#overviewPage .roadmap .item {
    position: relative;
}
#overviewPage .roadmap .item .date {
    font-size: 18px;
    text-align: center;
    margin-bottom: -50px;
}
#overviewPage .roadmap .item img {
    width: 200px;
    display: block;
    margin: 0 auto 30px;
    position: relative;
    z-index: 1;
}
#overviewPage .roadmap .item ul {
    padding-right: 10px;
}
#overviewPage .roadmap .item .imgWrap {
    position: relative;
}
#overviewPage .roadmap .item .imgWrap .line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #30dddc;
}
#overviewPage .roadmap .item.active .imgWrap .line {
    background: #fe3bbe;
}
#overviewPage .roadmap .row > div:nth-child(odd) .imgWrap .line {
    transform: rotate(-26deg);
    left: 50%;
    bottom: 120px;
}
#overviewPage .roadmap .row > div:nth-child(even) .imgWrap .line {
    transform: rotate(26deg);
    left: 50%;
    bottom: 0;
}
#overviewPage .roadmap .item .imgWrap .line:before {
    content: "";
    position: absolute;
    height: 100%;
    background: #fff;
    width: 10%;
    left: 100px;
    box-shadow: 0px 0px 10px 2px #30dddc;
}
#overviewPage .roadmap .item.active .imgWrap .line:before {
    box-shadow: 0px 0px 10px 2px #fe3bbe;
}
#overviewPage .roadmap .row > div:nth-child(even) {
    position: relative;
    top: -130px;
}
/*========================== ABOUT PAGE ==========================*/
#aboutPage {
    background: #172932;
    color: #fff;
}
#aboutPage .overview .circleBlur-1 {
    position: absolute;
    right: -150px;
    top: 0;
    width: 501px;
    height: 501px;
    background: #01F0FF;
    filter: blur(550px);
}
#aboutPage .overview .circleBlur-2 {    
    position: absolute;
    left: -200px;
    top: 1160px;
    width: 501px;
    height: 501px;
    background: #01F0FF;
    filter: blur(550px);
}
#aboutPage .overview section {
    position: relative;
    z-index: 1;
}
#aboutPage .overview .squareBlur {
    background: rgb(36 60 72 / 50%);
    position: absolute;
    left: -180px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#aboutPage .overview .squareBlur:before {
    content: "";
    background: rgb(36 60 72 / 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
}
/* ===================== FOOTER =================== */
footer,
footer a {
    color: #fff;
}
footer {
    background: linear-gradient(#C40075, #db0082);
}
footer .top {
    padding: 15px 0;
    background: #c92d80;
}
footer .top .footerSocial {
    font-size: 25px;
}
footer .top ul li:not(:last-child) {
    margin-right: 30px;
}
footer .bottom {
    padding: 50px 0 0;
}
footer .bottom ul li {
    margin: 20px 0;
}
footer .copyright {
    border-top: 1px solid #fff;
    margin: 60px 100px 0;
    padding: 15px 0;
    font-size: 13px;    
}
/* =============== COMMUNITY ============== */

#community {
    background: url(../img/bg-community.png) no-repeat;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-color: #243C48;
}

#community .blur-community {
    border-radius: 50%;
    background-color: #01F0FF;
    filter: blur(226px);
    opacity: .7;
    position: absolute;
    width: 386px;
    height: 501px;
    left: 627px;
    top: 0;
}

#community .page-community {
    text-align: center !important;
    font-weight: 700;
    padding: 0 !important;
}

#community .page-community .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    padding: 20px;
    bottom: 0;
    top: 300px;
}

#community .page-community .content h3 {
    background: linear-gradient(89.08deg, #FF0097 47.35%, #00D3FF 53.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    font-weight: 700;
}

#community .page-community .content img {
    padding: 10px;
    width: auto;
}

#community .page-community .content .img-page-community {
    display: flex;
    justify-content: center;
    padding: 30px;
}


/* =====================HYPERAS-FAQ================ */
#hyperas-faq section {
    padding: 40px 0 ;
}
#hyperas-faq .banner-hyperas-faq {
    background: url(../img/bg-hyperas-faq.png) no-repeat;
    height: 367px;
    background-size: cover;
}

#hyperas-faq .banner-hyperas-faq .search {
    position: relative;
}

#hyperas-faq .banner-hyperas-faq .search i {
    position: absolute;
    right: 149px;
    top: 18px;
    color: #fff;
}

#hyperas-faq .banner-hyperas-faq .search .form-control {
    height: 50px;
    padding: 15px;
    width: 80%;
    background: linear-gradient(344.23deg, rgba(85, 186, 208, 0.57) -6.56%, rgba(85, 186, 208, 0.26) 115.47%);
    border: 1.5px solid rgba(85, 198, 208, 0.4);
    box-shadow: 17px 0px 28px rgba(85, 198, 208, 0.15);


    /* backdrop-filter: blur(9px); */

    border-radius: 10px;
}

#hyperas-faq .banner-hyperas-faq .search .form-control:focus {
    background-color: #fff;
    box-shadow: none;
    border-color: #eee;
}

#hyperas-faq .categori {
    background: #172932;
}

#hyperas-faq .categori h3 {
    background: linear-gradient(89.08deg, #FF0097 13.35%, #00D3FF 36.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: left;
    font-weight: 700;
    box-shadow: 0 3px #01FFF0;
    width: 20%;
}

#hyperas-faq .categori .page-hyperas-faq {
    color: white;
    text-align: left;
}

#hyperas-faq .categori .page-hyperas-faq .nav-link {
    background-color: #172932 !important;
    color: white;
    text-align: left;
}

#hyperas-faq .categori .page-hyperas-faq .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #00D3FF;
}

#hyperas-faq .categori .page-hyperas-faq .tab-content p {
    box-shadow: 0 1px white;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}

#hyperas-faq .categori .page-hyperas-faq .tab-content .collapse .card {
    background: #172932;
}

#hyperas-faq .categori .page-hyperas-faq .tab-content i {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: #01FFF0;
}

#hyperas-faq .categori .page-hyperas-faq h4 {
    background: linear-gradient(89.08deg, #FF0097 2.35%, #00D3FF 7.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: left;
    font-weight: 400;
}

#hyperas-faq .blur-1 {
    border-radius: 50%;
    background-color: #01F0FF;
    filter: blur(188px);
    opacity: .8;
    position: absolute;
    width: 386px;
    height: 501px;
    left: 1133px;
    top: 279px;
}

#hyperas-faq .blur-2 {
    border-radius: 50%;
    background-color: #01F0FF;
    filter: blur(239px);
    opacity: .8;
    position: absolute;
    width: 501px;
    height: 501px;
    left: -218px;
    top: 1810px;
}

/* =====================NEWS BLOG=================== */
#news-blog section {
    padding: 40px 0 ;
}
#news-blog{
    background: #172932;
}

#news-blog  .page-news-blog h3{
    background: linear-gradient(89.08deg, #FF0097 13.35%, #00D3FF 36.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: left;
    font-weight: 700;
    margin-top: 30px;
    border-bottom: 4px solid #00D4FF;
    border-image: linear-gradient(45deg,#FF0097,#00D4FF) 1;
  }
  #news-blog .page-news-blog input[type=text] {
    float: left;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    z-index: 1  ;
    border: 2px solid #FFFFFF;
  }
  #news-blog .page-news-blog .collum-blog{
    background: #233E4B;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 9px;
    border-radius: 10px ;
    position: relative;
    z-index: 1;
}
#news-blog .page-news-blog .nav-link {
    background-color: #172932 !important;
    color: white;
    text-align: left;
}
#news-blog .page-news-blog button span{ 
    color: white;
    position: relative;
    z-index: 1;
}
#news-blog .page-news-blog .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #00D3FF;
}
#news-blog .page-news-blog .collum-blog:hover{
    border: 2px solid #01F0FF;
}
#news-blog .page-news-blog .collum-blog .title-pink{
    background: #EC008C;
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px 0;
}
#news-blog .page-news-blog .collum-blog .text-blog img{
    padding-right: 10px;
}
#news-blog .page-news-blog .blur-news{
    border-radius: 50%;
    background-color: #01F0FF;
    filter: blur(195px);
    opacity: .8;
    position: absolute;
    width: 501px;
    height: 501px;
    left: 499px;
    top: 209px;
}
#news-blog .page-news-blog .blur-blog{
    border-radius: 50%;
    background-color: #01F0FF;
    filter: blur(195px);
    opacity: .8;
    position: absolute;
    width: 501px;
    height: 501px;
    left: 1018px;
    top: 1206px;
}

/* ===================== RESPONSITE ================= */

@media (max-width: 1440px) {
    #aboutPage .page-about .blur-1 {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(250px);
        opacity: .8;
        position: absolute;
        width: 309px;
        height: 501px;
        left: 1127px;
        top: 169px;
    }
    #news-blog .page-news-blog .blur-blog{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: 937px ;
        top: 1206px;
    }
}
@media (max-width: 1366px) {
    #aboutPage .page-about .blur-1 {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(250px);
        opacity: .8;
        position: absolute;
        width: 230px;
        height: 501px;
        left: 1127px;
        top: 169px;
    }
}

@media (max-width: 1180px) {
    #aboutPage .page-about .blur-1 {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(75px);
        opacity: .8;
        position: absolute;
        width: 40px;
        height: 501px;
        left: 982px;
        top: 169px;
    }
    #aboutPage .page-about .bg-our-vison {
        position: absolute;
        width: 80%;
        height: 436px;
        left: 0px;
        top: 541px;
        background: #243C48;
    }
}
@media (max-width: 1024px) {
    #news-blog .page-news-blog .blur-news{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: 400px;
        top: 209px;
    }
    #news-blog .page-news-blog .blur-blog{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: 521px;
        top: 1206px;
    }
}
@media (max-width: 992px) {}

@media (max-width: 768px) {
    #aboutPage .investor-partners .collum {
        width: 40%;
    }
    #aboutPage .investor-partners .collum1 {
        position: relative;
        width: 40%;
    }
    #aboutPage .page-about .blur-1 {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(250px);
        opacity: .8;
        position: absolute;
        width: 342px;
        height: 501px;
        left: 424px;
        top: 169px;
    }
    #aboutPage .page-about .bg-our-vison {
        position: absolute;
        width: 80%;
        height: 436px;
        left: 0px;
        top: 624px;
        background: #243C48;
    }
    #community .blur-community {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(226px);
        opacity: .7;
        position: absolute;
        width: 392px;
        height: 501px;
        left: 209px;
        top: 0;
    }
    #news-blog .page-news-blog .blur-news{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: 218px;
        top: 209px;
    }
    #news-blog .page-news-blog .blur-blog{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: 265px;
        top: 1206px;
    } 
}

@media (max-width: 576px) {
    #aboutPage .investor-partners .collum {
        width: 60%;
    }
    #aboutPage .investor-partners .collum1 {
        position: relative;
        width: 70%;
    }
    #aboutPage .page-about .blur-1 {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(250px);
        opacity: .8;
        position: absolute;
        width: 342px;
        height: 501px;
        left: -24px;
        top: 169px;
    }
    #aboutPage .page-about .bg-our-vison {
        position: absolute;
        width: 100%;
        height: 436px;
        left: 0px;
        top: 895px;
        background: #243C48;
    }
    #community {
        background: url(../img/bg-community.png) no-repeat;
        height: 900px;
        background-position: center;
        background-size: cover;
        background-color: #172932;
    }
    #community .page-community .content .img-page-community {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    #community .banner-community h1 {
        font-weight: 700;
        font-size: 36px;
        color: white;
        position: absolute;
    }
    #community .blur-community {
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(226px);
        opacity: .7;
        position: absolute;
        width: 392px;
        height: 501px;
        left: -83px;
        top: 0;
    }
   #news-blog .page-news-blog .blur-news{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: -185px;
        top: 209px;
    }
    #news-blog .page-news-blog .blur-blog{
        border-radius: 50%;
        background-color: #01F0FF;
        filter: blur(195px);
        opacity: .8;
        position: absolute;
        width: 501px;
        height: 501px;
        left: -185px;
        top: 1206px;
    } 
}

/* ===========GUILDLINE-PAGES ========  */
.guildline-content-top{
    background: #172932;
}
.guildline-content-top h1{
    padding: 202px 0px 37px 0px;
}
.guildline-content-top h3{
    padding: 21px 0px 21px;
}
.guildline-content-top .content-text-guildline{
    font-size: 16px;
    line-height: 28.9px;
    margin: 0px;
    padding-bottom: 73px;
}
.guildline-content-top .image-guildline{
    background: #EC008CB2;
    border: 1px solid #EC008CB2;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 13px 0px #EC008C;
    max-width: 68px;
}
.guildline-content-top .progress-after::after{
    content: "";
    width: 136px;
    height: 2px;
    background: #01FFF0  ;
    position: absolute;
    bottom: 47%;
    left: 82%;
}

.guildline-content-top .box-step{
    padding-bottom: 47px;
}
.guildline-content-top .image-guildline-4{
    padding: 2px;
}
.guildline-content-top .image-guildline{
    width: 68px;
    height: 68px;
}
/* =========== box-contact-hyperras ========  */
.box-contact-hyperras{
    background: #172932;
}
.box-contact-hyperras .bg-contact-hyperras{
    padding-bottom: 80px;
}
.box-contact-hyperras .content-text-hyperras{
    font-size: 33px;
    line-height: 39px;
    font-weight: 700;
    background: linear-gradient(89.08deg, #FF0097 9%, #00D3FF 53.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.box-contact-hyperras .bg-box-submit input{
    background: #5e7580;
}
.box-contact-hyperras .box-submit{
    font-weight: 700;
    background: linear-gradient(89.08deg, #FF0097 47.35%, #00D3FF 53.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;   
}
.box-contact-hyperras .form-floating{
    padding-bottom: 20px;
    width: 486px;
}
.box-contact-hyperras .form-floating input{
    background: #5e757f;
}
.box-contact-hyperras .form-floating label{
    color: #fff;
}
.box-contact-hyperras .box-message input{
    height: 150px;
}
.box-contact-hyperras .button-box-submit button{
    width: 100%;
    height: 53px;
    background: linear-gradient(89.08deg, #FF0097 31.35%, #00D3FF 98.51%);
    box-shadow: 0px 1px 4px 0px #fff;
    font-size: 20px;
}
.box-contact-hyperras .content-bg-contacthyperas{
    bottom: 17%;
    left: 51%;
}
/*======================contact-link-hyperaschain=============================*/
.contact-link-hyperaschain .container > div{
    padding-bottom: 30px;
}
.contact-link-hyperaschain{
    background: #172932;
}
.contact-link-hyperaschain h1{
    padding: 130px 0px 8px 0px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.contact-link-hyperaschain .text-content-top{
    font-size: 32px;
    line-height: 100%;
    background: linear-gradient(89.08deg, #FF0097 47.35%, #00D3FF 53.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 90px;
}
.contact-link-hyperaschain .from-boxcontact{
    width: 1116px;
    margin: 0 auto;
}
.contact-link-hyperaschain .position-image{
    display: inline-block;
    bottom: 148%;
    left: 40%;
}
.contact-link-hyperaschain .text-box-contact{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.contact-link-hyperaschain .text-box-contact-1{
    max-width: 356px;
    height: 122px;
    background: #233E4B;
    border-left: 1px solid #FF0097 ;
    border-bottom: 1px solid #00D3FF;
    padding-bottom: 10px;
    border-radius: 10px;
}
.contact-link-hyperaschain .text-box-contact-1 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.contact-link-hyperaschain .text-box-contact-1 img{
    background-color: #C40075;
    padding: 12px;
    border-radius: 100px;
    box-shadow: 0px 0px 9px 0px #ec008c;
}
.contact-link-hyperaschain .text-box-contact-1 a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #01FFF0;
    text-decoration: underline;
}
/*=======================hyra-staking-2.blade.php===========================*/
.hyra-staking-page-1{
    background: #172932;
}
.hyra-staking-page-1 h1{
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    padding: 109px 0px 98px 0px;
}
/*==================================================*/
#brandKit {
    color: #fff;
    background: url(../img/bg-brand-kit.svg) #125661 no-repeat center; 
    padding: 40px 0;
}

#brandKit .title-brandkit {
    background: linear-gradient(89.08deg, #FF0097 22.35%, #00D3FF 83.51%);
    border-radius: 8px;
    padding: 15px;
    transform: scale(1.01);
    margin-top: -2px;
}
#brandKit .icon {
    color: #0C94B0;
    padding: 10px;
}

#brandKit .bg {
    background: #1C2F39;
    border: 3px solid #2B4958;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 8px;
}

#brandKit .content {
    padding: 15px 0 25px;
    border-bottom: 1px solid #2B4958;
    margin: 16px;
}

#brandKit .content-last {
    padding: 15px 0;
    border-bottom: 0;
    margin: 16px;
}

#brandKit .hrBrand {
    margin: 0 16px;
}

/* ========== hyra token page ========== */

#hyraToken {
    color: #fff;
    background: #172932;
}
#hyraToken img {
    image-rendering: -webkit-optimize-contrast;
}
#hyraToken .swap {
    color: #01FFF0;
}
