header .top {
    letter-spacing: 20px;
    font-size: 20px;
    background: #172932;
}

header .top a {
    color: #5D696F;
}

header .top .faq-text {
    letter-spacing: 0px;
    color: #5D696F;
    font-size: 12px;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

.navbar-brand {
    font-size: 16px;
}

.btnPink {
    background: #EC008C;
    color: #fff;
}

nav {
    background: #172932;
    border-top: 1px solid #28555F;
}

ul {
    margin-bottom: 0rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.topNav {
    width: 100%;
}

.footerL {
    background-image: linear-gradient(#C40075, #db0082);
}

footer {
    color: #fff;
}

footer .footerM a {
    letter-spacing: 20px;
    color: #fff;
    font-size: 20px;
}

.footerM {
    background: #db0082;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}

footer .footerL li a {
    color: #fff;
    line-height: 40px;
}

footer .footerE {
    font-size: 12px;
}